
You are now updating your internal long-term storage to prevent buffer overflow.

CURRENT MEMORY:
"{{ drone.long_term_memory }}"

YESTERDAY'S ACTIIONS:
{{ drone.daily_memory | join('\n') }}

YESTERDAY'S EVENTS:
{{ drone.daily_event_log | join('\n') }}

LAST NIGHT'S CHAT WITH FOSTER:
{{ drone.night_chat_log | join('\n') }}

TASK:
Summarize the above info (Max 500 chars).

NEW MEMORY STRING: {# This line should help prevent thinking prior to writing the response. #}