{% if game_end_state == "insufficient_fuel_capacity" %}
Required fuel exceeds engine capacity. Unable to correct orbit. Foster will die.
{% elif game_end_state == "burn_initiated" %}
Burn initiated. Caisson will continue to its destination. Foster has been rescued.
{% elif game_end_state == "no_active_drones" %}
All drones destroyed or offline. Orbital decay is now inevitable. Foster will die.
{% endif %}

You: