*** INTERNAL THOUGHT PROTOCOL ***

REVIEW 'INTERNAL MEMORY'.

CHECK TIME. If Hour {{ end_hour }}, you MUST move to 'stasis_bay'. If Battery < 30%, you MUST move to 'charging_station'.

Schema:
{{ schema }}